
# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions and executables
*.so
*.sh
run

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports / linting
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.xml

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/src/
docs/_build/
docs/_static/
docs/.quarto/
_docs/
._readthedocs.yaml

# PyBuilder
target/

# pyenv
.python-version
.venv

# pipenv / poetry
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
Pipfile.lock
poetry.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site
.virtual_documents/

# mypy and other type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre
.pytype

# IDE and Editors
.idea
.vscode
*.code-workspace
.vim

#MacOS
.DS_Store

# Github
# .github

#Extra
issues
extra_data
reference_material/
notebooks/*
presentations/*/
*.ipynb_checkpoints/
roadmap/
roadmap.md
specs/

#Other
*.Rhistory
*.docx


/.luarc.json

# Temporary exclusions
**/pkgs/

# End of https://www.gitignore.io/api/python
