[tool.poetry]
name = "samplics"
version = "0.0.1"
description = "Select, weight and analyze complex sample data"
authors = ["Mamadou S Diallo <msdiallo@quantifyafrica.org>"]
license = "MIT"

readme = "README.rst"

homepage = "https://samplics.org/"
repository = "https://github.com/survey-methods/samplics"
documentation = "https://samplics.org/docs"

keywords = ["sampling", "sample", "weighting", "estimation", "survey",]

classifiers = [
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Development Status :: 3 - Alpha",
    "Operating System :: OS Independent",
    "Intended Audience :: Survey Analysts",
    "Intended Audience :: Statisticians",
    "Intended Audience :: Data Scientists",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineeing :: Statistics",
]

packages = [
    { include = "samplics", from = "src" }
]
#exclude = ["tests", "docs", "datasets"] - exclude by default since not inside src

[tool.poetry.dependencies]
python = "^3.6"
numpy = "^1.15"
pandas = "^0.25"
scipy = "^1.4"
statsmodels = "^0.10"

[tool.poetry.dev-dependencies]
mypy = "^0.761"
pytest = "^5.3.2"
black = "^19.10b0"
ipython = "^7.11.0"
ipykernel = "^5.1.3"
sphinx = "^2.3.1"
sphinx-bootstrap-theme = "^0.7.1"
nbsphinx = "^0.5.0"
jupyterlab = "^1.2.4"
nb_black = "^1.0.7"
certifi = "^2019.11.28"

[tool.black]
line-length = 99
target-version = ['py36', 'py37', 'py38']
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

