[tool.poetry]
name = "samplics"
version = "0.3.9"
description = "Select, weight and analyze complex sample data"
authors = ["Mamadou S Diallo <msdiallo@quantifyafrica.org>"]
license = "MIT"

readme = "README.md"

homepage = "https://samplics.org/"
repository = "https://github.com/survey-methods/samplics"
documentation = "https://samplics.org/docs"

keywords = ["sampling", "sample", "weighting", "estimation", "survey",]

classifiers = [
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Development Status :: 4 - Beta",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering",
]

packages = [
    { include = "samplics", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.7.1" #Pandas 1.0 requires at least Python 3.6.1
numpy = "^1.16"
pandas = "^1.2"
scipy = "^1.1"
statsmodels = "^0.12"
matplotlib = "^3.4"

[tool.poetry.dev-dependencies]
mypy = "^0.910"
pytest = "^6.2"
pytest-cov = "^2.8.1"
codecov = "^2.1.3"
black = "^20.8b1"
flake8 = "^3.8.4"
sphinx = "^4.0"
sphinx-bootstrap-theme = "^0.7.1"
nbsphinx = "^0.8.0"
recommonmark = "^0.7"
# ipython = "^7.11.0"
# ipykernel = "^5.1.3"
# jupyterlab = "^3.0"
# nb_black = "^1.0.7"
# certifi = "^2019.11.28"
# nox = "^2020.12.31"
isort = "^5.7"
pylint = "^2.6.0"

[tool.black]
line-length = 99
target-version = ['py37', 'py38']
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
force_single_line = false
multi_line_output = 3
atomic = true
include_trailing_comma = true
lines_after_imports = 2
lines_between_types = 1
use_parentheses = true
src_paths = ["src", "tests"]
filter_files = true
known_first_party = "samplics"
line_length = 99

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"

