[tool.poetry]
name = "samplics"
version = "0.3.0"
description = "Select, weight and analyze complex sample data"
authors = ["Mamadou S Diallo <msdiallo@quantifyafrica.org>"]
license = "MIT"

readme = "README.md"

homepage = "https://samplics.org/"
repository = "https://github.com/survey-methods/samplics"
documentation = "https://samplics.org/docs"

keywords = ["sampling", "sample", "weighting", "estimation", "survey",]

classifiers = [
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Development Status :: 4 - Beta",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering",
]

packages = [
    { include = "samplics", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.6.1" #Pandas 1.0 requires at least Python 3.6.1
numpy = "^1.15"
pandas = "^1.0"
scipy = "^1.1"
statsmodels = "^0.10"
matplotlib = "^3.1"

[tool.poetry.dev-dependencies]
mypy = "^0.770"
pytest = "^5.0.1"
flake8 = "^3.7.9"
black = "^20.8b1"
ipython = "^7.11.0"
ipykernel = "^5.1.3"
sphinx = "^3.0"
sphinx-bootstrap-theme = "^0.7.1"
nbsphinx = "^0.5.0"
jupyterlab = "^1.2.4"
nb_black = "^1.0.7"
certifi = "^2019.11.28"
pytest-cov = "^2.8.1"
nox = "^2019.11.9"
isort = "^4.3.21"
recommonmark = "^0.6"
codecov = "^2.1.3"

[tool.black]
line-length = 99
target-version = ['py36', 'py37', 'py38', 'py39']
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
force_single_line = true
atomic = true
include_trailing_comma = true
lines_after_imports = 2
lines_between_types = 1
use_parentheses = true
src_paths = ["src", "tests"]
filter_files = true
known_first_party = "samplics"

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"

