div.body {
  min-width: 450px;
  max-width: 1024px;
}

body {
  font-family: "Verdana", "Arial", Helvetica, sans-serif;
  font-weight: normal;
  font-size: medium;
}

.field-body cite {
  font-style: normal;
  font-weight: bold;
}

div.footer {
  text-align: center;
}

div.footer a:hover {
  border-bottom: none;
}
